$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

$white:  #FFFFFF;
$silver: #DDDDDD;
$gray:   #AAAAAA;
$black:  #111111;

/*----------------*/
$max-with: 1138px;
$padding-0: 0px;
$padding: 1px 2px;
$padding-porcentaje: 1% 0% 0%;
$padding-right: 15px;
$padding-left: 15px;
$font-size-a: 11px;
$line-height-30: 30px;
$border-lados: 1px solid #dcd8d8;